# === Google Sheets ===
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nISI_KEY_DISINI\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=1dl99XVIhPwZM1Pz4Yy8B7n87weuJ0KoKwHd_z4gO71o

# Nama tab persis seperti di Google Sheets kamu
GOOGLE_SHEET_TAB_PA=PA
GOOGLE_SHEET_TAB_STRONG_POINT=STRONG POINT LINE

# === Looker Studio ===
NEXT_PUBLIC_LOOKER_EMBED_URL=https://datastudio.google.com/embed/reporting/7d5af73c-9909-4c89-b8a0-58a91820257e/page/p_pcjxcdpc1d

# === Claude API (ASIK Solution) ===
ANTHROPIC_API_KEY=
